html{
      scroll-behavior: smooth;
       scroll-margin-top: 250px;
}
body{
    background-color: whitesmoke;
    /* height: 3000px; */
}

.head{
    background-image: url("photo/home.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
   height: 0px;
   width: 0px;
    border-radius: 10px;
    color: white;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
   box-shadow: 4px 5px 1px black , -3px -3px 2px white;
    padding: 120px;
    opacity: 0;
    
}

.show{
    opacity: 1;
    transition: all .5s ease-out;
      height: 380px;
      width: 84%;
     
}
.head p i{
    margin-right: 10px;
    margin-top: 5px;
}
.head h2{
    display: inline;
    overflow: hidden;
    font-size: 34px;
}
.head section{
    display: flex;
    gap: 10px;
    margin-top: 30px;
    font-size: 20px;

}
.head section i{
    height: fit-content;
    margin-top: 5px;
}
.head section a{
    background-color: white;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 4px 5px;
    border-radius: 10px;
}
.head section a:hover{
    background-color: black;
    color: white;
}
h1{
    text-align: center;
    margin-left: 550px;
    padding: 5px;
    transform: scale(.1);
    transition: all .4s ease-out;
    margin-top: 110px;
    box-shadow: 3px 2px 2px black;
    width: fit-content;
}
.h1{
    transform: scale(1);
    margin-top: 90px;
       transition: all .4s ease-out;
    color: black;
    text-align: center;
}
 .img ,.immg{
    background-color: white;
    padding: 70px;
    padding-right: 0px;
    border-radius: 10px;
    width: 92%;
    margin: 70px 0px 0px 30px;
    position: relative;
   
 }
 .img .image ,.immg .image1{
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 50px;
 }
 .img .img1 ,.immg .img2{
    height: 360px;
    width: 360px;
    border-radius: 20px;
 }
 .inf1 ,.inf11{
    display: flex;
    gap: 30px;
    background-color: #fff;
    width: fit-content;
    padding: 0px 7px;
    border-radius: 30px;
    opacity:.6;
    position: absolute;
    bottom: 85px;
    left: 150px;
 }
 .sec1 span ,.sec2 span ,.sec3 span{
    color: black;
    opacity: 1;
 }
 .sec1 span p i ,.sec2 span p i ,.sec3 span p i{
margin-right: 5px;
padding: 1px;
 }
  .inf2 ,.inf22{
    display: flex;
    gap: 30px;
    background-color: #fff;
    width: fit-content;
    padding: 0px 7px;
    border-radius: 30px;
    opacity:.6;
    position: absolute;
    bottom: 85px;
    left: 590px;
 }
 .inf22{
    left: 600px;
 }
  .inf3 ,.inf33{
    display: flex;
    gap: 30px;
    background-color: #fff;
    z-index: 2;
    width: fit-content;
    padding: 0px 7px;
    border-radius: 30px;
    opacity:.6;
    position: absolute;
    bottom: 85px;
    right: 80px;
 }
 .img>p ,.immg>p{
    font-size: 28px;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 20px;
 }
 .img>p i ,.immg>p i{
    padding: 3px;
 }
 .inf1:hover ,.inf2:hover , .inf3:hover ,.inf11:hover ,.inf22:hover,.inf33:hover{
    opacity: 1;
    transform: scale(1.1);
    transition: all .3s ease-out;
    box-shadow: -2px 5px 2px blue,3px -4px 2px black;
 }
 .check1{
    background-color: blueviolet;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 210px;
    width: 100px;
    padding: 3px;
 }
 .check2{
    background-color: blueviolet;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 640px;
    width: 100px;
    padding: 3px;
 }
 .check3{
    background-color: blueviolet;
    color: white;
    position: absolute;
    bottom: 20px;
    right: 120px;
    width: 100px;
    padding: 3px;
 }
 .del3{
    position: absolute;
    bottom: 20px;
    right: 270px;
    padding: 3px;
 }
 .del2{
    position: absolute;
    bottom: 20px;
    left: 790px;
    padding: 3px;
 }
 .del1{
    position: absolute;
    bottom: 20px;
    left: 360px;
    padding: 3px;
 }
 del{
    font-size: 20px;
 }
 .check1:hover ,.check2:hover ,.check3:hover{
    transform: scale(1.1);
    background-color: black;
    transition: all .5s ease-out;
 }
 .image img:hover ,.image1 img:hover{
transform: scale(1.1);
transition: all .5s ease-out;
 }
 .img1{
    transform: scale(.3);
    opacity: .2;
 }
 .img1.showimg{
    opacity: 1;
    transform: scale(1);
    transition: .5s all ease-out;
 }
 .img21{
    position: absolute;
    left: -350px;
 }
 .img22{
    opacity: 0;
    transform: scale(.2) rotateY(180deg);
 }
 .img23{
    position: absolute;
    right: -20px;
 }
 .img21.show21{
    position: absolute;
    left: 130px;
    transition: all .5s ease-out;
 }
 .img22.show22{
    opacity: 1;
    transform: scale(1) rotateY(0);
       transition: all .5s ease-out;
 }
 .img23.show23{
    position: absolute;
    right: 60px;
     transition: all .4s ease-out;
 }
 video{
    height: 23rem;
    width: 22rem;
    margin-left: 15px;
    border-radius: 20px;
    box-shadow: 2px 4px 2px white ,-2px -4px 2px black;
 }
 .vid{
    margin-top: 30px;
 }
 .video{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
 }
 .supp{
   box-shadow: 0px -4px 2px white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    height: 230px;
    background-color: rgb(44, 41, 41);
    color: white;
    border-radius: 0px 0px 10px 10px;
  }
  .supp ul{
    display: flex;
    gap: 100px;
  }
  .supp ul a i{
    font-size: 20px;
    color: white;
    padding: 10px 11px;
    border-radius: 100%;
    border: 1px solid white;
  }
  .face i{
    background-color: blue;
    box-sizing: border-box;
  }
  .what i{
    background-color: green;
    box-sizing: border-box;
  }
  .snap i{
    background-color: yellow;
    box-sizing: border-box;
  }

  .insta i{
    background-color: red;
    box-sizing: border-box;
  }
  .supp ul a:hover{
    transform: scale(1.3);
    transition: .4s all ease-in-out;
  }
  .supp ul a i{
    transform: scale(.2);
    opacity: 0;
    transition: .4s all ease-in-out;
  }
  .supp ul a i.showsupp , .supp >p.showsupp{
    transform: scale(1);
    opacity: 1;
    transition: all .4s ease-out;
  }
  .supp hr{
    color: gold;
    width: 70%;
  }
.logosupp{
    font-size: 30px;
    margin-bottom: 20px;
}
 .about{
    background-color: white;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 20px 0px 10px 10px;
    border-radius: 10px;
    padding: 20px 10px 30px 50px;
 }
 .about .us{
    display: flex;
    gap: 300px;
    margin-top: 20px;
    margin-left: 10px;
 }
 .about .us pre{
    font-size: 16px;
    word-spacing: 2px;
    letter-spacing: 1px;
 }
 .us p{
    font-size: 20px;
 }
 .us p i{
     margin-right: 5px;
    color: rgb(117,141,113);
 }

 .about .card{
    display: flex;
    gap: 0px;
    justify-content: center;
    margin-top: 50px;
    opacity: 0;
    transform: scale(.5);
    transition: all .5s ease-out;
 }
 .about .card.showcard{
opacity: 1;
 transform: scale(1) ;
 gap: 145px;
    transition: all .5s ease-out;

 }
 .about .card .card1  {
    background-color: rgb(209,220,209);
    height: 400px;
    width: 300px;
    border-radius: 20px;
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
 }
 .about .card .card2  {
    background-color: rgb(220, 223, 227);
    height: 400px;
    width: 300px;
    border-radius: 20px;
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
 }
 .about .card .card3  {
    background-color: rgb(218,211,200);
    height: 400px;
    width: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
 }
 .card .card1 i{
    color: rgb(108,113,120);
    font-size: 80px;
 }
 .card .card2 i{
    color: rgb(117,141,113);
    font-size: 80px;
 }
 .card .card3 i{
    color: rgb(153,136,116);
    font-size: 80px;
 }
 .card pre{
    text-align: center;
    width: 90%;
    font-size: 14px;
    word-spacing: 2px;
    letter-spacing: 1px;
 }
 .nav{
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 200px;
   height: 40px;
   padding: 15px 10px 15px 20px;
   border-radius: 10px 10px 0px 0px;
   box-shadow: 2px 2px 2px black,-2px -2px 2px burlywood;
 }
.nav ul{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 60px;
}
.nav ul li{
   list-style: none;
  
}
.nav ul li a{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-decoration: none;
   font-size: 18px;
   width: 100%;
    border: 1px double mediumvioletred;
   border-radius: 30px;
   padding: 2px 10px;
   color: blueviolet;
   
}
.nav ul li a:hover{
   background-color: blue;
color: white;
}

.nav h2{
   color:blue;
}
.nav section a{
   background-color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color: white;
   padding: 8px 15px;
   border-radius: 30px;
   text-decoration: none;
   white-space: nowrap;
}
.nav section a:hover{
background-color: beige;
color: blue;
border:1px solid black;
transform: scale(1.2);
transition: all .4s ease-out;
}
.nav h2 i{
   transform: rotateZ(-360deg) scale(.2);
   opacity: 0;
   transition: all .6s ease-out;
}
.nav h2 i.rotatei{
   transform: rotateZ(0) scale(1);
   opacity: 1;
   transition: all .6s ease-out;
   color: black;
}.nav section {
   display: flex;
   gap: 20px;
   justify-content: center;
   align-items: center;
}
#menu{
   visibility: hidden;
   display: none;
}
#menu:checked ~.nav ul li{
   visibility: hidden;
}
@media screen and (max-width:640px) {
   body{

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
   }
   .nav ul{
      display: flex;
      flex-direction: column;
      gap: 20px;
      background-color: #fff;
      border-radius: 10px; 
      margin-top: -300px;
      display: none;
   }
   .nav{
    display: flex;
    justify-content: flex-start;
      gap: 65px;
      margin-left: 0px;
      padding-left: 10px;
      width: fit-content;
   }
   .nav h2{
      font-size: 16px;
      margin-top: 0px;
      margin-left: 5px;
      white-space: nowrap;
   }
   .nav section {
      display: flex;
      gap: 45px;
   }
   .nav section p{
      white-space: nowrap;
   }
   .head h2{
      font-size: 17px;
   }
   .show{
      width: 320px;
      height: 200px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   h1{
   font-size: 20px;
   white-space: nowrap;
   position: absolute;
   top: 300px;
   left: 0px;
   margin-left: 80px;
   margin-bottom: 20px;
   }
   .img , .image ,.immg ,.image1{
      display: flex;
      flex-direction: column;
      margin-left: 0px;
      padding-left: 2px;
      padding-right: 0px;
   }
   .image .img1 ,.image1 .img2{
      width: 340px;
      height: 350px;
   }
   .image ,.image1{
      width: fit-content;
   }
   .img .image .inf1 ,.img .image1 .inf11{
      position: absolute;
      top: 450px;
      left: 20px;
      display: flex;
      gap: 10px;
      height: fit-content;
   }
   .img .image .inf2 ,.img .image1 .inf22{
      position: absolute;
      top: 870px;
      left: 20px;
      display: flex;
      gap: 10px;
      height: fit-content;
   }
   .img .image .inf3,.img .image1 .inf33{
      position: absolute;
      bottom: 90px;
      left: 25px;
      display: flex;
      gap: 10px;
      height: fit-content;
   }
   .inf3 p{
      white-space: nowrap;
   }
   .image .check1 ,.image1 .check1{
      position: absolute;
      top: 540px;
      left: 70px;
      height: fit-content;
   }
   .image .check2 ,.image1 .check2{
      position: absolute;
      top: 980px;
      left: 70px;
      height: fit-content;
   }
   .image .check3 ,.image1 .check3{
      position: absolute;
      left: 70px;
      height: fit-content;
   }
   .image .del1 ,.image1 .del1{
      position: absolute;
      top: 540px;
      left: 240px;
   }
   .image .del2 ,.image1 .del2{
      position: absolute;
      top: 980px;
      left: 240px;
   }
   .image .del3 ,.image1 .del3{
      position: absolute;
      left: 240px;
   }
 .immg{
   display: none;
 }
 .about{
   width: fit-content;
   padding: 10px 4px;
   margin-left: 0px;
   
 }
 .card ,.us ,.about{
   display: flex;
   flex-direction: column;
   gap: 10px;
   align-items: center;
   justify-content: center;
   height: fit-content;
 }

.us pre{
   width: 340px;
   overflow-x: hidden;
   margin-left: -10px;
   margin-top: -300px;
   padding-left: 10px;
   height: 50px;
}
.video ,.vid{
   display: flex;
   flex-direction: column;
   gap: 20px;
   margin-left: -10px;
}
.supp{
   padding: 10px 10px 20px 0px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.supp .logosupp{
font-size: 20px;
word-spacing: 2px;
}
 .supp ul{
   margin-left: -5px;
   margin-right: 15px;
   display: flex;
   justify-content: center;
   gap: 40px;
 }
}