body{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.one ,.two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
background-color:antiquewhite;
    margin-bottom: 20px;
    width: fit-content;
    padding: 10px;
}
hr{
    height: 10px;
    width: 100%;
    background-color: black;
}
.one{
  border-top: 1px double black;
  border-left: 1px double black;
  border-right: 1px double black;
  padding: 20px 30px 5px 30px;
}
.two{
    padding: 5px 30px 5px 30px;
    margin-top: 20px;
  border-bottom: 1px double black;
  border-left: 1px double black;
  border-right: 1px double black;
}